:root {
  --main-color: rgba(127, 166, 126, 0.8);
  --grey-color: rgba(205, 201, 193, 0.1);
  --secondary-colour: rgba(200, 126, 116, 0.7);
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  background-color: var(--grey-color);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 8rem;
}

.text-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 1.3rem;
  margin: 3rem;
}

#preText {
  display: flex;
  justify-content: flex-end;
}

#postText {
  display: flex;
  justify-content: flex-start;
}

#text {
  display: flex;
  justify-content: center;
}

.box {
  flex: 1;
}

.link {
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  color: unset;
}

.link:hover {
  text-decoration: underline;
}

.link:visited {
  color: unset;
}

.social-wrapper {
  display: flex;
}
